<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <!-- bootsrap list group for shopping list, looping through all ingredients in shoppinglist component.ts: -->
        <!-- ++++++++++'style = cursor pointer' changes the arrow to a hand pointer on mouse over -->
        <ul class="list-group">
            <a class="list-group-item" 
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients">{{ingredient.name}} ({{ingredient.amount}})</a>
        </ul>
    </div>
</div>
