<!--<p>formmodule works!</p>-->

<form (ngSubmit)="onSave(myForm)" #myForm="ngForm">
    <table>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <input type="text" id="txtName" name="username" required ngModel />
            </td>
        </tr>
        <tr>
            <td>
                <label>Email</label>
            </td>
            <td>
                <input type="email" id="txtEmail" name="useremail" required email ngModel />
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone</label>
            </td>
            <td>
                <input type="text" id="txtPhone" name="userphone" required ngModel />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="txtSubmit" value="save" [disabled]="!myForm.valid"/>
            </td>
        </tr>
    </table>
</form>


<!--<b>{{customerName}}</b> <!-- can be used without tags too :P -->

<input type="text" [value]="customerName" /> <!--binding the value with the customer name-->
<br/>
<br/>
<input type="button" value="Add Customer" (click)="AddCustomer()"> <!-- adding click event to button using formmodule omponent method-->
<p>{{message}}</p>

<!-- two way data binding +++++++++++++++++++++-->

<input type="text" [(ngModel)]="customerName">
{{customerName}}

