
<!--<input type="text" [(ngModel)] = "name">
<p>{{name}}</p>-->

<!--
<h3>I be the app component!</h3>
<hr>
<app-servers></app-servers>
-->

<!-- bootsrap styling: -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I be the app component!</h3>
      <hr>
      <!--++++++ targeting selector when its an element: ++++++++++-->
      <!--<app-servers></app-servers>-->

      <!-- ++++++++ targeting selector when its an attiute: +++++++++++ -->
      <!--<div app-servers></div>-->

      <!-- ++++++++ targeting selector when its a class: +++++++++++ -->
      <div class="app-servers"></div>


    </div>
  </div>
</div>

