<!-- bootsrap styling: -->
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <label>Add Name:</label><br />
        <!-- 2 WAY DATA BINDING: -->
        <input type="text" class="form-control"
        [(ngModel)]="userName">
        <br />
        <label>Name is: {{userName}}</label>

        <!-- ++++++++++ below:
            disabled is equal to whether userName is empty or not
            click event sets username to empty
        -->
        <br />
        <button class="btn btn-primary" 
        [disabled]="userName === ''"
        (click)="userName = ''" 
        >Reset Username</button>
                
  
  
      </div>
    </div>
  </div>