<nav class="navbar navbar-default"> <!-- default bootstrap nav bar-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav"> <!-- list items are automatically aligned by bootstrap -->
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Shoping List</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right"> <!-- drop down menu:-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button"> <!-- drop down toggle button link -->
                        Manage
                        <span class="caret"></span> <!-- drop down arrow -->
                    </a> 
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>