<label>Server Name</label>

<!-- +++++++++++ONE WAY DATA BINDING. here we listen to the input event, which fires update name method on every keystroke: 
$event is a reserved variable name, used when event binding. This passes all data pertaining to that event +++++++++++++++-->
<!--<input type="text" class="form-control"
(input)="onUpdateServerName($event)">
<p>{{serverName}}</p>-->

<!-- 2 WAY DATA BINDING: -->
<input type="text" class="form-control"
[(ngModel)]="serverName"> <!--@@@@@@@@@@@@@@ NOTE: need to imort FormsModule in app.module for this to work in forms @@@@@@@@2-->
<!--<p>{{serverName}}</p>-->


<!-- ++++++++++ below binds the disabled property (property binding) to the value (or opposite of in this case) of allowNewServer:
    also uses event binding to bind an event (click in this case) to onCreateServer() ++++++++++++++ -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="onCreateServer()" 
>Add Server</button>

<!-- ++++++ string interpolation to show boolean: +++++++++ -->
<!--<br />string interpolation:
<p>{{allowNewServer}}</p>
-->

<!-- +++++++++ property binding to dynamically show boolean as inner text: ++++++++++-->
<!--property binding:
<p [innerText]="allowNewServer"></p>
-->

<!--<p>{{serverCreationStatus}}</p>-->
<!-- +++++++++++++++++++ ngIf DIRECTIVE. can take anything that equates to true or false (statement, method etc)-->
<p *ngIf="serverCreated">Server was created. Server is: {{serverName}}.</p>


<!-- server component's selector added multiple times, to have mutiple of the same component -->
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>