<p>recipe-detail works!</p>
<!-- Row for image: -->
<div class="row">
    <div class="col-xs-12">
        <img src="" alt=""class="img-responsive">
    </div>
</div>
<!-- Row for recipe name: -->
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<!-- group of btns for managing recipe: -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <!-- button for openng drop down: -->
            <button type="button" class="btn btn-pimary dropdown-toggle">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <!-- list to be opened by button: -->
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Row for recipe name: -->
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>